/* ===============================================
                IMPORTED GOOGLE FONTS
    =============================================== */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');



/* ===============================================
            (MOBILE-FIRST) GLOBAL STYLES
    =============================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

body {
    /* Applied 0 margin and padding on body to eliminate default styles*/
    padding: 0;
    margin: 0;
    background: rgb(228, 224, 224);
    text-align: center;
    font-size: 1.3rem;
}


.wrapper {
    margin: auto;
}

p {
    line-height: 1.3;
}

/* ===============================================
            (MOBILE-FIRST) NAVIGATION STYLES
    =============================================== */
.top-links {
    display: flex;
    flex-direction: column;
}

.logo-text {
    color: rgb(94, 94, 97);
    margin: 0;
    padding: 1rem;
}

.nav {
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin-bottom: 3rem;
}

.nav li {
    background-color: rgb(246, 241, 241);
    text-transform: uppercase;
    margin: 0 .8rem .5rem .8rem;
    padding: .5rem 0;
}

.nav a {
    text-decoration: none;
}

a:link {
    color: #000;
}

a:visited {
    color: rgb(85, 126, 120);
}

a:hover {
    color: rgb(148, 122, 75);
}

/* ===============================================
            (MOBILE-FIRST) HEADER STYLES
    =============================================== */
header {
    margin: 2rem 0;
}

header img {
    max-width: 92%;
}

header p {
    padding: .4rem 1rem;
}

/* ===============================================
        (MOBILE-FIRST) ARTICLE + SECTION STYLES
    =============================================== */
.content {
    background-color: rgb(240, 238, 238);
    width: 100%;
}

.content {
    padding: 3rem 0 0;
}

.content-label {
    text-transform: uppercase;
}

.content-label,
.content p {
    margin-bottom: 3rem;
}

.content p {
    padding: 0 3rem;
}

.img-responsive {
    width: 95%;
    margin-bottom: .5rem;
}

.content-style {
    font-weight: 600;
}

/* ===============================================
        (MOBILE-FIRST) EXTRA CREDIT - STYLES
    =============================================== */
.other-work {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    background-color: rgb(216, 226, 201);
    padding: 3rem 0;
}

.other-work h3 {
    font-weight: 800;
}

/* ===============================================
            (MOBILE-FIRST) FOOTER STYLES
    =============================================== */
footer {
    background-color: rgb(193, 193, 194);
    padding-top: 2rem;
}

footer p {
    padding: 0 3rem;
    line-height: 1.4;
}

footer a {
    text-decoration: none;
}

.contact-info {
    margin: 0 auto;
    white-space: pre;
}

.phone {
    margin-bottom: .3rem;
}

.email {
    padding-bottom: 2.3rem;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(172, 172, 172);
    font-size: 1.1rem;
    font-weight: bold;
}

.bottom p {
    padding: 0 1.3rem;
}

.bottom ul {
    display: flex;
    justify-content: center;
    /* ===============================================
        Added "column" f.direction instead of "row" 
        because links were very close. 
        Can adjust, if needed.
    =============================================== */
    flex-direction: column;
    text-transform: uppercase;
}

.bottom li {
    list-style: none;
    margin: .15rem 1.3rem;
}

/* ===============================================
     (MOBILE-FIRST) HEADER/FOOTER - LINK STYLES
    =============================================== */
footer a:visited,
.nav a:visited {
    color: rgb(123, 89, 204);
}

footer a:hover,
.nav a:hover {
    color: rgb(83, 47, 47);
}

/* ===========================================================================
                                    MEDIA QUERIES
   =========================================================================== */

/* =================================================================
            (TABLET VIEW) Applies from 768px to 1024px
   ================================================================ */
@media (min-width: 768px) {
    body {
        background-color: rgb(159, 215, 235);
        font-size: 1.3rem;
    }

    /* ==========================================
         (TABLET) LOGO + NAVIGATION STYLES
    ============================================= */
    .nav {
        display: flex;
        justify-content: center;
    }

    .nav li {
        background-color: inherit;
        padding: 0 .4rem;
    }

    /* ==========================================
                (TABLET) HEADER STYLES
    ========================================== */
    header {
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-around;
        margin: 1.2rem 0;
        padding: 0 1.5rem 2rem 1.5rem;
    }

    header img {
        min-width: 40%;
    }

    header p {
        text-align: left;
        line-height: 1.5;
        margin-top: 3rem;
        padding: 0;
        padding-right: .5rem;
    }

    /* ===============================================
            (TABLET) ARTICLE + SECTION STYLES
    =============================================== */
    .boxes,
    .work-boxes {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .box-items {
        width: 50%;
    }

    /* ===============================================
            (TABLET) EXTRA CREDIT - STYLES
    =============================================== */
    .other-work {
        background-color: rgb(23, 97, 82);
        color: rgb(240, 217, 217);
    }

    /* ===============================================
                 (TABLET) FOOTER STYLES
    =============================================== */
    footer p {
        padding: 0 6rem;
        line-height: 1.5;
    }

    .content-label {
        margin-bottom: 2rem;
    }

    .contact-info {
        margin: 0 auto;
    }

    .phone {
        margin: .3rem 0;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        font-size: inherit;
    }

    .bottom ul {
        flex-direction: row;
        align-items: center;
    }


    .bottom li {
        margin: 0 .5rem;
    }

}

/* =================================================================
            DESKTOP VIEW (Will apply from 1024px) 
   ================================================================ */
@media (min-width: 1024px) {
    body {
        background-color: #94e2e2;
        font-size: 1.5rem;
    }

    /* ==========================================
         (DESKTOP) LOGO + NAVIGATION STYLES
    ============================================= */
    .top-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2.5rem;
    }

    .logo-text {
        padding: 0;
        margin-right: auto;
    }

    .nav {
        padding: 0;
        margin: 0;
    }

    .nav li {
        margin: 0 .5rem;
    }

    /* ==========================================
                (DESKTOP) HEADER STYLES
    ============================================= */
    header {
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        margin: 1rem 0;
        padding: 0 1.5rem 2rem 1.5rem;
    }

    header img {
        min-width: 32.5%;
    }

    header p {
        text-align: left;
        line-height: 1.5;
        margin-top: 3rem;
    }

    .intro {
        width: 45%;
        justify-content: center;
    }

    header img {
        width: 50%;
        max-width: 200px;
        height: auto;
    }

    /* ===============================================
            (DESKTOP) ARTICLE + SECTION STYLES
    =============================================== */
    .content {
        background-color: rgb(231, 225, 225);
    }

    .boxes,
    .work-boxes {
        padding: .5rem;
    }

    .box-items {
        width: 33%;
    }

    /* ===============================================
            (DESKTOP) EXTRA CREDIT - STYLES
    =============================================== */
    .other-work {
        background-color: rgb(128, 110, 87);
        color: #fff;
    }

    /* ===============================================
                 (DESKTOP) FOOTER STYLES
    =============================================== */
    .bottom {
        padding: 0 3rem;
    }

}